{
  "endOfLine": "auto",
  "trailingComma": "none",
  "tabWidth": 4,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "bracketSpacing": true,
  "printWidth": 180,
  "overrides": [
    {
      "files": [
        "*.md",
        "*.mdx",
        "*.json",
        "*.yml"
      ],
      "options": {
        "tabWidth": 2
      }
    },
    {
      "files": [
        ".prettierrc",
        ".markdownlintrc"
      ],
      "options": {
        "parser": "json"
      }
    }
  ]
}
