.gh-bg-Grammatical-Framework { background-color: #79aa7a !important; }
.gh-Grammatical-Framework { color: #79aa7a !important; }
.gh-bg-Squirrel { background-color: #800000 !important; }
.gh-Squirrel { color: #800000 !important; }
.gh-bg-Alloy { background-color: #64c800 !important; }
.gh-Alloy { color: #64c800 !important; }
.gh-bg-Makefile { background-color: #427819 !important; }
.gh-Makefile { color: #427819 !important; }
.gh-bg-D { background-color: #ba595e !important; }
.gh-D { color: #ba595e !important; }
.gh-bg-JavaScript { background-color: #f1e05a !important; }
.gh-JavaScript { color: #f1e05a !important; }
.gh-bg-Oz { background-color: #fab738 !important; }
.gh-Oz { color: #fab738 !important; }
.gh-bg-Perl { background-color: #0298c3 !important; }
.gh-Perl { color: #0298c3 !important; }
.gh-bg-Slash { background-color: #007eff !important; }
.gh-Slash { color: #007eff !important; }
.gh-bg-Click { background-color: #e4e6f3 !important; }
.gh-Click { color: #e4e6f3 !important; }
.gh-bg-Vala { background-color: #fbe5cd !important; }
.gh-Vala { color: #fbe5cd !important; }
.gh-bg-Boo { background-color: #d4bec1 !important; }
.gh-Boo { color: #d4bec1 !important; }
.gh-bg-Component-Pascal { background-color: #b0ce4e !important; }
.gh-Component-Pascal { color: #b0ce4e !important; }
.gh-bg-XC { background-color: #99da07 !important; }
.gh-XC { color: #99da07 !important; }
.gh-bg-Propeller-Spin { background-color: #7fa2a7 !important; }
.gh-Propeller-Spin { color: #7fa2a7 !important; }
.gh-bg-RDoc { background-color: #8e84bf !important; }
.gh-RDoc { color: #8e84bf !important; }
.gh-bg-Lua { background-color: #000080 !important; }
.gh-Lua { color: #000080 !important; }
.gh-bg-Ioke { background-color: #078193 !important; }
.gh-Ioke { color: #078193 !important; }
.gh-bg-PureBasic { background-color: #5a6986 !important; }
.gh-PureBasic { color: #5a6986 !important; }
.gh-bg-C-Sharp { background-color: #178600 !important; }
.gh-C-Sharp { color: #178600 !important; }
.gh-bg-SQF { background-color: #3f3f3f !important; }
.gh-SQF { color: #3f3f3f !important; }
.gh-bg-Nix { background-color: #7e7eff !important; }
.gh-Nix { color: #7e7eff !important; }
.gh-bg-IDL { background-color: #a3522f !important; }
.gh-IDL { color: #a3522f !important; }
.gh-bg-OCaml { background-color: #3be133 !important; }
.gh-OCaml { color: #3be133 !important; }
.gh-bg-Tcl { background-color: #e4cc98 !important; }
.gh-Tcl { color: #e4cc98 !important; }
.gh-bg-Fantom { background-color: #dbded5 !important; }
.gh-Fantom { color: #dbded5 !important; }
.gh-bg-Cuda { background-color: #3a4e3a !important; }
.gh-Cuda { color: #3a4e3a !important; }
.gh-bg-Zephir { background-color: #118f9e !important; }
.gh-Zephir { color: #118f9e !important; }
.gh-bg-Latte { background-color: #a8ff97 !important; }
.gh-Latte { color: #a8ff97 !important; }
.gh-bg-Glyph { background-color: #e4cc98 !important; }
.gh-Glyph { color: #e4cc98 !important; }
.gh-bg-Oxygene { background-color: #cdd0e3 !important; }
.gh-Oxygene { color: #cdd0e3 !important; }
.gh-bg-Turing { background-color: #45f715 !important; }
.gh-Turing { color: #45f715 !important; }
.gh-bg-Clarion { background-color: #db901e !important; }
.gh-Clarion { color: #db901e !important; }
.gh-bg-Volt { background-color: #1f1f1f !important; }
.gh-Volt { color: #1f1f1f !important; }
.gh-bg-eC { background-color: #913960 !important; }
.gh-eC { color: #913960 !important; }
.gh-bg-FreeMarker { background-color: #0050b2 !important; }
.gh-FreeMarker { color: #0050b2 !important; }
.gh-bg-Pan { background-color: #cc0000 !important; }
.gh-Pan { color: #cc0000 !important; }
.gh-bg-Groovy { background-color: #e69f56 !important; }
.gh-Groovy { color: #e69f56 !important; }
.gh-bg-PHP { background-color: #4f5d95 !important; }
.gh-PHP { color: #4f5d95 !important; }
.gh-bg-Eiffel { background-color: #946d57 !important; }
.gh-Eiffel { color: #946d57 !important; }
.gh-bg-AGS-Script { background-color: #b9d9ff !important; }
.gh-AGS-Script { color: #b9d9ff !important; }
.gh-bg-Ada { background-color: #02f88c !important; }
.gh-Ada { color: #02f88c !important; }
.gh-bg-Emacs-Lisp { background-color: #c065db !important; }
.gh-Emacs-Lisp { color: #c065db !important; }
.gh-bg-Harbour { background-color: #0e60e3 !important; }
.gh-Harbour { color: #0e60e3 !important; }
.gh-bg-Standard-ML { background-color: #dc566d !important; }
.gh-Standard-ML { color: #dc566d !important; }
.gh-bg-SaltStack { background-color: #646464 !important; }
.gh-SaltStack { color: #646464 !important; }
.gh-bg-Game-Maker-Language { background-color: #8fb200 !important; }
.gh-Game-Maker-Language { color: #8fb200 !important; }
.gh-bg-PureScript { background-color: #1d222d !important; }
.gh-PureScript { color: #1d222d !important; }
.gh-bg-AppleScript { background-color: #101f1f !important; }
.gh-AppleScript { color: #101f1f !important; }
.gh-bg-CSS { background-color: #563d7c !important; }
.gh-CSS { color: #563d7c !important; }
.gh-bg-Slim { background-color: #ff8f77 !important; }
.gh-Slim { color: #ff8f77 !important; }
.gh-bg-Jupyter-Notebook { background-color: #da5b0b !important; }
.gh-Jupyter-Notebook { color: #da5b0b !important; }
.gh-bg-KRL { background-color: #28431f !important; }
.gh-KRL { color: #28431f !important; }
.gh-bg-Pike { background-color: #005390 !important; }
.gh-Pike { color: #005390 !important; }
.gh-bg-SourcePawn { background-color: #5c7611 !important; }
.gh-SourcePawn { color: #5c7611 !important; }
.gh-bg-Mercury { background-color: #ff2b2b !important; }
.gh-Mercury { color: #ff2b2b !important; }
.gh-bg-Stan { background-color: #b2011d !important; }
.gh-Stan { color: #b2011d !important; }
.gh-bg-SystemVerilog { background-color: #dae1c2 !important; }
.gh-SystemVerilog { color: #dae1c2 !important; }
.gh-bg-Objective-J { background-color: #ff0c5a !important; }
.gh-Objective-J { color: #ff0c5a !important; }
.gh-bg-Fancy { background-color: #7b9db4 !important; }
.gh-Fancy { color: #7b9db4 !important; }
.gh-bg-Arc { background-color: #aa2afe !important; }
.gh-Arc { color: #aa2afe !important; }
.gh-bg-Io { background-color: #a9188d !important; }
.gh-Io { color: #a9188d !important; }
.gh-bg-ATS { background-color: #1ac620 !important; }
.gh-ATS { color: #1ac620 !important; }
.gh-bg-Dylan { background-color: #6c616e !important; }
.gh-Dylan { color: #6c616e !important; }
.gh-bg-nesC { background-color: #94b0c7 !important; }
.gh-nesC { color: #94b0c7 !important; }
.gh-bg-wisp { background-color: #7582d1 !important; }
.gh-wisp { color: #7582d1 !important; }
.gh-bg-NetLinx+ERB { background-color: #747faa !important; }
.gh-NetLinx+ERB { color: #747faa !important; }
.gh-bg-Racket { background-color: #22228f !important; }
.gh-Racket { color: #22228f !important; }
.gh-bg-Objective-Cpp { background-color: #6866fb !important; }
.gh-Objective-Cpp { color: #6866fb !important; }
.gh-bg-Gnuplot { background-color: #f0a9f0 !important; }
.gh-Gnuplot { color: #f0a9f0 !important; }
.gh-bg-JSONiq { background-color: #40d47e !important; }
.gh-JSONiq { color: #40d47e !important; }
.gh-bg-Scheme { background-color: #1e4aec !important; }
.gh-Scheme { color: #1e4aec !important; }
.gh-bg-Max { background-color: #c4a79c !important; }
.gh-Max { color: #c4a79c !important; }
.gh-bg-SuperCollider { background-color: #46390b !important; }
.gh-SuperCollider { color: #46390b !important; }
.gh-bg-Arduino { background-color: #bd79d1 !important; }
.gh-Arduino { color: #bd79d1 !important; }
.gh-bg-Verilog { background-color: #b2b7f8 !important; }
.gh-Verilog { color: #b2b7f8 !important; }
.gh-bg-Nimrod { background-color: #37775b !important; }
.gh-Nimrod { color: #37775b !important; }
.gh-bg-LFE { background-color: #004200 !important; }
.gh-LFE { color: #004200 !important; }
.gh-bg-Elm { background-color: #60b5cc !important; }
.gh-Elm { color: #60b5cc !important; }
.gh-bg-NewLisp { background-color: #87aed7 !important; }
.gh-NewLisp { color: #87aed7 !important; }
.gh-bg-Bison { background-color: #6a463f !important; }
.gh-Bison { color: #6a463f !important; }
.gh-bg-Isabelle { background-color: #fefe00 !important; }
.gh-Isabelle { color: #fefe00 !important; }
.gh-bg-Haml { background-color: #ece2a9 !important; }
.gh-Haml { color: #ece2a9 !important; }
.gh-bg-Papyrus { background-color: #6600cc !important; }
.gh-Papyrus { color: #6600cc !important; }
.gh-bg-ABAP { background-color: #e8274b !important; }
.gh-ABAP { color: #e8274b !important; }
.gh-bg-Lasso { background-color: #999999 !important; }
.gh-Lasso { color: #999999 !important; }
.gh-bg-PigLatin { background-color: #fcd7de !important; }
.gh-PigLatin { color: #fcd7de !important; }
.gh-bg-Shen { background-color: #120f14 !important; }
.gh-Shen { color: #120f14 !important; }
.gh-bg-SAS { background-color: #b34936 !important; }
.gh-SAS { color: #b34936 !important; }
.gh-bg-FLUX { background-color: #88ccff !important; }
.gh-FLUX { color: #88ccff !important; }
.gh-bg-ANTLR { background-color: #9dc3ff !important; }
.gh-ANTLR { color: #9dc3ff !important; }
.gh-bg-NumPy { background-color: #9c8af9 !important; }
.gh-NumPy { color: #9c8af9 !important; }
.gh-bg-Perl6 { background-color: #0000fb !important; }
.gh-Perl6 { color: #0000fb !important; }
.gh-bg-Clean { background-color: #3f85af !important; }
.gh-Clean { color: #3f85af !important; }
.gh-bg-Forth { background-color: #341708 !important; }
.gh-Forth { color: #341708 !important; }
.gh-bg-TeX { background-color: #3d6117 !important; }
.gh-TeX { color: #3d6117 !important; }
.gh-bg-Lex { background-color: #dbca00 !important; }
.gh-Lex { color: #dbca00 !important; }
.gh-bg-VHDL { background-color: #adb2cb !important; }
.gh-VHDL { color: #adb2cb !important; }
.gh-bg-Unified-Parallel-C { background-color: #4e3617 !important; }
.gh-Unified-Parallel-C { color: #4e3617 !important; }
.gh-bg-ColdFusion { background-color: #ed2cd6 !important; }
.gh-ColdFusion { color: #ed2cd6 !important; }
.gh-bg-Hy { background-color: #7790b2 !important; }
.gh-Hy { color: #7790b2 !important; }
.gh-bg-Rebol { background-color: #358a5b !important; }
.gh-Rebol { color: #358a5b !important; }
.gh-bg-QML { background-color: #44a51c !important; }
.gh-QML { color: #44a51c !important; }
.gh-bg-Frege { background-color: #00cafe !important; }
.gh-Frege { color: #00cafe !important; }
.gh-bg-ASP { background-color: #6a40fd !important; }
.gh-ASP { color: #6a40fd !important; }
.gh-bg-MTML { background-color: #b7e1f4 !important; }
.gh-MTML { color: #b7e1f4 !important; }
.gh-bg-Less { background-color: #a1d9a1 !important; }
.gh-Less { color: #a1d9a1 !important; }
.gh-bg-reStructuredText { background-color: #b3bcbc !important; }
.gh-reStructuredText { color: #b3bcbc !important; }
.gh-bg-Prolog { background-color: #74283c !important; }
.gh-Prolog { color: #74283c !important; }
.gh-bg-Gosu { background-color: #82937f !important; }
.gh-Gosu { color: #82937f !important; }
.gh-bg-NCL { background-color: #28431f !important; }
.gh-NCL { color: #28431f !important; }
.gh-bg-XQuery { background-color: #5232e7 !important; }
.gh-XQuery { color: #5232e7 !important; }
.gh-bg-Web-Ontology-Language { background-color: #9cc9dd !important; }
.gh-Web-Ontology-Language { color: #9cc9dd !important; }
.gh-bg-Nu { background-color: #c9df40 !important; }
.gh-Nu { color: #c9df40 !important; }
.gh-bg-Dart { background-color: #00b4ab !important; }
.gh-Dart { color: #00b4ab !important; }
.gh-bg-Ruby { background-color: #701516 !important; }
.gh-Ruby { color: #701516 !important; }
.gh-bg-Nit { background-color: #009917 !important; }
.gh-Nit { color: #009917 !important; }
.gh-bg-Rust { background-color: #dea584 !important; }
.gh-Rust { color: #dea584 !important; }
.gh-bg-Red { background-color: #ee0000 !important; }
.gh-Red { color: #ee0000 !important; }
.gh-bg-Pascal { background-color: #e3f171 !important; }
.gh-Pascal { color: #e3f171 !important; }
.gh-bg-EmberScript { background-color: #fff4f3 !important; }
.gh-EmberScript { color: #fff4f3 !important; }
.gh-bg-Golo { background-color: #88562a !important; }
.gh-Golo { color: #88562a !important; }
.gh-bg-ActionScript { background-color: #882b0f !important; }
.gh-ActionScript { color: #882b0f !important; }
.gh-bg-LiveScript { background-color: #499886 !important; }
.gh-LiveScript { color: #499886 !important; }
.gh-bg-Eagle { background-color: #814c05 !important; }
.gh-Eagle { color: #814c05 !important; }
.gh-bg-PAWN { background-color: #dbb284 !important; }
.gh-PAWN { color: #dbb284 !important; }
.gh-bg-X10 { background-color: #4b6bef !important; }
.gh-X10 { color: #4b6bef !important; }
.gh-bg-Processing { background-color: #0096d8 !important; }
.gh-Processing { color: #0096d8 !important; }
.gh-bg-Smalltalk { background-color: #596706 !important; }
.gh-Smalltalk { color: #596706 !important; }
.gh-bg-Batchfile { background-color: #c1f12e !important; }
.gh-Batchfile { color: #c1f12e !important; }
.gh-bg-Terra { background-color: #00004c !important; }
.gh-Terra { color: #00004c !important; }
.gh-bg-UnrealScript { background-color: #a54c4d !important; }
.gh-UnrealScript { color: #a54c4d !important; }
.gh-bg-Vue { background-color: #2c3e50 !important; }
.gh-Vue { color: #2c3e50 !important; }
.gh-bg-F-Sharp { background-color: #b845fc !important; }
.gh-F-Sharp { color: #b845fc !important; }
.gh-bg-Elixir { background-color: #6e4a7e !important; }
.gh-Elixir { color: #6e4a7e !important; }
.gh-bg-Dogescript { background-color: #cca760 !important; }
.gh-Dogescript { color: #cca760 !important; }
.gh-bg-HTML { background-color: #e44b23 !important; }
.gh-HTML { color: #e44b23 !important; }
.gh-bg-LSL { background-color: #3d9970 !important; }
.gh-LSL { color: #3d9970 !important; }
.gh-bg-LookML { background-color: #652b81 !important; }
.gh-LookML { color: #652b81 !important; }
.gh-bg-TypeScript { background-color: #2b7489 !important; }
.gh-TypeScript { color: #2b7489 !important; }
.gh-bg-E { background-color: #ccce35 !important; }
.gh-E { color: #ccce35 !important; }
.gh-bg-xBase { background-color: #403a40 !important; }
.gh-xBase { color: #403a40 !important; }
.gh-bg-AutoHotkey { background-color: #6594b9 !important; }
.gh-AutoHotkey { color: #6594b9 !important; }
.gh-bg-AMPL { background-color: #e6efbb !important; }
.gh-AMPL { color: #e6efbb !important; }
.gh-bg-Hack { background-color: #878787 !important; }
.gh-Hack { color: #878787 !important; }
.gh-bg-Common-Lisp { background-color: #3fb68b !important; }
.gh-Common-Lisp { color: #3fb68b !important; }
.gh-bg-R { background-color: #198ce7 !important; }
.gh-R { color: #198ce7 !important; }
.gh-bg-Kotlin { background-color: #f18e33 !important; }
.gh-Kotlin { color: #f18e33 !important; }
.gh-bg-AutoIt { background-color: #1c3552 !important; }
.gh-AutoIt { color: #1c3552 !important; }
.gh-bg-Mask { background-color: #f97732 !important; }
.gh-Mask { color: #f97732 !important; }
.gh-bg-PogoScript { background-color: #d80074 !important; }
.gh-PogoScript { color: #d80074 !important; }
.gh-bg-Shell { background-color: #89e051 !important; }
.gh-Shell { color: #89e051 !important; }
.gh-bg-Sass { background-color: #cf649a !important; }
.gh-Sass { color: #cf649a !important; }
.gh-bg-SCSS { background-color: #cf649a !important; }
.gh-SCSS { color: #cf649a !important; }
.gh-bg-Haxe { background-color: #df7900 !important; }
.gh-Haxe { color: #df7900 !important; }
.gh-bg-Objective-C { background-color: #438eff !important; }
.gh-Objective-C { color: #438eff !important; }
.gh-bg-PLSQL { background-color: #dad8d8 !important; }
.gh-PLSQL { color: #dad8d8 !important; }
.gh-bg-Ragel-in-Ruby-Host { background-color: #9d5200 !important; }
.gh-Ragel-in-Ruby-Host { color: #9d5200 !important; }
.gh-bg-Yacc { background-color: #4b6c4b !important; }
.gh-Yacc { color: #4b6c4b !important; }
.gh-bg-Nemerle { background-color: #3d3c6e !important; }
.gh-Nemerle { color: #3d3c6e !important; }
.gh-bg-Pure-Data { background-color: #91de79 !important; }
.gh-Pure-Data { color: #91de79 !important; }
.gh-bg-Chapel { background-color: #8dc63f !important; }
.gh-Chapel { color: #8dc63f !important; }
.gh-bg-JFlex { background-color: #dbca00 !important; }
.gh-JFlex { color: #dbca00 !important; }
.gh-bg-Matlab { background-color: #bb92ac !important; }
.gh-Matlab { color: #bb92ac !important; }
.gh-bg-Nginx { background-color: #9469e9 !important; }
.gh-Nginx { color: #9469e9 !important; }
.gh-bg-Puppet { background-color: #302b6d !important; }
.gh-Puppet { color: #302b6d !important; }
.gh-bg-J { background-color: #9eedff !important; }
.gh-J { color: #9eedff !important; }
.gh-bg-Handlebars { background-color: #01a9d6 !important; }
.gh-Handlebars { color: #01a9d6 !important; }
.gh-bg-ColdFusion-CFC { background-color: #ed2cd6 !important; }
.gh-ColdFusion-CFC { color: #ed2cd6 !important; }
.gh-bg-Assembly { background-color: #6e4c13 !important; }
.gh-Assembly { color: #6e4c13 !important; }
.gh-bg-Brainfuck { background-color: #2f2530 !important; }
.gh-Brainfuck { color: #2f2530 !important; }
.gh-bg-Python { background-color: #3572a5 !important; }
.gh-Python { color: #3572a5 !important; }
.gh-bg-Scala { background-color: #dc322f !important; }
.gh-Scala { color: #dc322f !important; }
.gh-bg-XSLT { background-color: #eb8ceb !important; }
.gh-XSLT { color: #eb8ceb !important; }
.gh-bg-Parrot { background-color: #f3ca0a !important; }
.gh-Parrot { color: #f3ca0a !important; }
.gh-bg-Self { background-color: #0579aa !important; }
.gh-Self { color: #0579aa !important; }
.gh-bg-Mirah { background-color: #c7a938 !important; }
.gh-Mirah { color: #c7a938 !important; }
.gh-bg-Clojure { background-color: #db5855 !important; }
.gh-Clojure { color: #db5855 !important; }
.gh-bg-Metal { background-color: #8f14e9 !important; }
.gh-Metal { color: #8f14e9 !important; }
.gh-bg-Swift { background-color: #ffac45 !important; }
.gh-Swift { color: #ffac45 !important; }
.gh-bg-BlitzMax { background-color: #cd6400 !important; }
.gh-BlitzMax { color: #cd6400 !important; }
.gh-bg-VimL { background-color: #199f4b !important; }
.gh-VimL { color: #199f4b !important; }
.gh-bg-Erlang { background-color: #b83998 !important; }
.gh-Erlang { color: #b83998 !important; }
.gh-bg-Factor { background-color: #636746 !important; }
.gh-Factor { color: #636746 !important; }
.gh-bg-Cirru { background-color: #ccccff !important; }
.gh-Cirru { color: #ccccff !important; }
.gh-bg-FORTRAN { background-color: #4d41b1 !important; }
.gh-FORTRAN { color: #4d41b1 !important; }
.gh-bg-Rouge { background-color: #cc0088 !important; }
.gh-Rouge { color: #cc0088 !important; }
.gh-bg-Cucumber { background-color: #5b2063 !important; }
.gh-Cucumber { color: #5b2063 !important; }
.gh-bg-NetLogo { background-color: #ff6375 !important; }
.gh-NetLogo { color: #ff6375 !important; }
.gh-bg-LOLCODE { background-color: #cc9900 !important; }
.gh-LOLCODE { color: #cc9900 !important; }
.gh-bg-cpp { background-color: #f34b7d !important; }
.gh-cpp { color: #f34b7d !important; }
.gh-bg-AspectJ { background-color: #a957b0 !important; }
.gh-AspectJ { color: #a957b0 !important; }
.gh-bg-NetLinx { background-color: #0aa0ff !important; }
.gh-NetLinx { color: #0aa0ff !important; }
.gh-bg-Markdown { background-color: #083fa1 !important; }
.gh-Markdown { color: #083fa1 !important; }
.gh-bg-ECL { background-color: #8a1267 !important; }
.gh-ECL { color: #8a1267 !important; }
.gh-bg-ooc { background-color: #b0b77e !important; }
.gh-ooc { color: #b0b77e !important; }
.gh-bg-Visual-Basic { background-color: #945db7 !important; }
.gh-Visual-Basic { color: #945db7 !important; }
.gh-bg-Java { background-color: #b07219 !important; }
.gh-Java { color: #b07219 !important; }
.gh-bg-Haskell { background-color: #29b544 !important; }
.gh-Haskell { color: #29b544 !important; }
.gh-bg-CoffeeScript { background-color: #244776 !important; }
.gh-CoffeeScript { color: #244776 !important; }
.gh-bg-Go { background-color: #375eab !important; }
.gh-Go { color: #375eab !important; }
.gh-bg-API-Blueprint { background-color: #2acca8 !important; }
.gh-API-Blueprint { color: #2acca8 !important; }
.gh-bg-Opal { background-color: #f7ede0 !important; }
.gh-Opal { color: #f7ede0 !important; }
.gh-bg-C { background-color: #555555 !important; }
.gh-C { color: #555555 !important; }
.gh-bg-Omgrofl { background-color: #cabbff !important; }
.gh-Omgrofl { color: #cabbff !important; }
.gh-bg-Agda { background-color: #315665 !important; }
.gh-Agda { color: #315665 !important; }
.gh-bg-APL { background-color: #5a8164 !important; }
.gh-APL { color: #5a8164 !important; }
.gh-bg-DM { background-color: #447265 !important; }
.gh-DM { color: #447265 !important; }
.gh-bg-MAXScript { background-color: #00a6a6 !important; }
.gh-MAXScript { color: #00a6a6 !important; }
.gh-bg-Julia { background-color: #a270ba !important; }
.gh-Julia { color: #a270ba !important; }
.gh-bg-RAML { background-color: #77d9fb !important; }
.gh-RAML { color: #77d9fb !important; }
.gh-bg-Ren'Py { background-color: #ff7f7f !important; }
.gh-Ren'Py { color: #ff7f7f !important; }
.gh-bg-LLVM { background-color: #185619 !important; }
.gh-LLVM { color: #185619 !important; }
.gh-bg-Crystal { background-color: #776791 !important; }
.gh-Crystal { color: #776791 !important; }
